.titulo h6 {
    text-align: center; 
    font-size: 24px; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    color: #333; 
}

.subtitulo h6{
    text-align: center;
    font-size:15px;
    font-weight:normal;
    font-family: 'Arial', sans-serif;
    color: #333; 
    margin-bottom: 15px;
}

.input-texto {
    text-align: center;
}

.boton {
    text-align: center;
}

.contenedor-principal {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
}

.contenedor-registro-vuelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenedor-registro-vuelos input, .contenedor-registro-vuelos h6 {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 10px;
}

.itinerario {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vuelo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}